*{
    text-align: center;
    font-size: 15px;
}
.labtest-cat,.labreports,.vital-category-dt{
    display:none;
    margin:auto;
}
.labtest-cat:target,.labreports:target,.vital-category-dt:target{
    display:block;
}
.myform{
    margin-left:20px;   
}
.labtest-list:hover,.labtest-category:hover{
    background-color: #75E6DA;
}
.labreports,.vital-category-dt{
    width:450px;
    margin-top: 10%;
    padding:15px;
    box-sizing: border-box;
    border:2px solid;
    color:lightgray;
    background-color: black;
}
.blood-test{
    box-sizing: border-box;
    margin:auto;
}
.labtest-category,.labtest-list,.vital-cat{
    border-style: solid;
    padding:70px 0px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor:pointer;
}
